.error {
    color: red;
    text-align: start;
}

.content {
    border: 2px solid rgb(140, 140, 229);
    padding: 10px;
    min-width: 500px;
    max-width: 700px;
    margin: auto;
    text-align: center;

}

.gender {
    color: black;
    margin-right: 24px;
    margin-left: 8px;
}

.label {
    background-color: rgb(127 217 101);
    border: 2px solid rgb(92, 180, 114);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: inherit;
    min-width: 150px;
    color: white;
}

.input {
    border: 2px solid rgb(140, 140, 229);

}

.required-input {
    color: red;
    font-size: 16px;
}

input.btn {
    background-color: rgb(127 217 101);
    border: 2px solid rgb(92, 180, 114);
}
input.btn-sm {
    background-color: rgb(148, 212, 130);
    border: 2px solid rgb(112, 190, 132);
}

.image-upload {
    width: 250px;
    height: auto;
}

.search-bar {
    margin: auto;
}